
* {
    text-align: center;
    background-color: #f9c6d7;
    color: #3ca2c8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.Tasks {

    position: relative;
    background:#10559a;
    margin: 50px 30% 0px 30%;
    padding: 0px;

}
button{
    background-color: #db4c77;
    margin: 30px;
    padding: 20px 50px;
    color: #10559a;
    font-weight: 600

}


div.ID {

    color: #10559a;
    position: absolute;
	top: -15px;
	left:-15px;
	text-align: center;
	background: #3ca2c8;
    width: 50px;
    height: 50px; 
    border-radius: 100%;


}

div.name {

    background:#10559a;
    padding: 3px 20px;
    font-size: large;
}

div.description {

padding: 30px;
background:#10559a;

}

h1 {
    background:#10559a;
    color: #db4c77;
}

p {
    
    background: #3ca2c8;

}